@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tutorial-ping {
    @apply relative after:absolute after:inset-0 after:max-h-[3rem] after:max-w-[3rem] after:animate-ping after:rounded-full after:bg-secondary/30 after:content-[''];
  }
}

@layer base {
  :root {
    /* 90% of accent 40 100% 98.8% */
    --background: 40 100% 98.8%;
    --foreground: 0 0% 27.1%;

    --card: 40 100% 98.8%;
    --card-foreground: 0 0% 27.1%;

    --popover: 40 100% 98.8%;
    --popover-foreground: 0 0% 27.1%;

    --primary: 23 100% 50%;
    /* 90% of primary 23 100% 50% */
    --primary-foreground: 21.6 100% 95.1%;
    --primary-hover: 22.4 100% 45.1%;

    --secondary: 27.5 100% 67.5%;
    --secondary-foreground: 0 0% 27.1%;
    --secondary-hover: 27.6 75% 60.8%;

    --accent: 33.2 100% 89%;
    --accent-foreground: 0 0% 27.1%;
    --accent-hover: 32.9 50.5% 80.2%;

    /* 50% of accent 32.1 12.3% 44.7% */
    --muted: 32 12% 45%;
    --muted-foreground: 33 100% 89%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 21.6 100% 95.1%;
    --destructive-hover: 0 65.8% 54.1%;

    --success: 123 46.2% 33.5%;
    --success-foreground: 21.6 100% 95.1%;
    --success-hover: 123.3 46% 39.2%;

    --info: 201.2 98.1% 41.4%;
    --info-foreground: 21.6 100% 95.1%;
    --info-hover: 201 99.2% 50.4%;

    /* 90% of primary 0 0% 27.1% */
    --border: 0 0% 27.1%;
    --input: 0 0% 27.1%;
    --ring: 0 0% 27.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 11.1% 15.9%;
    /*90% of primary 20 12% 85.3% */
    --foreground: 20 12% 85.3%;

    --card: 0 11.1% 15.9%;
    --card-foreground: 20 12% 85.3%;

    --popover: 0 11.1% 15.9%;
    --popover-foreground: 20 12% 85.3%;

    --primary: 19.6 33.3% 27.1%;
    --primary-foreground: 20 12% 85.3%;
    --primary-hover: 20 33.9% 24.3%;

    --secondary: 16.9 53.3% 47.1%;
    --secondary-foreground: 20 12% 85.3%;
    --secondary-hover: 17.1 53.7% 42.4%;

    --accent: 33.7 54.1% 73.5%;
    --accent-foreground: 0 11.1% 15.9%;
    --accent-hover: 33.6 38.4% 66.3%;

    --muted: 33.3 19.1% 36.9%;
    /* 50% pf accent 34.1 55.2% 86.9% */
    --muted-foreground: 34.1 55.2% 86.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 24 13.5% 92.7%;
    --destructive-hover: 0 62.9% 27.5%;

    --border: 33.7 54.1% 73.5%;
    --input: 33.7 54.1% 73.5%;
    --ring: 33.7 54.1% 73.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.in-table-link {
  @apply font-medium hover:text-primary
}

@media print {
  body * {
    visibility: hidden;
  }

  .printable * {
    visibility: visible;
  }
  
  .printable {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}